.profile--pic{
    background-color: #fff;
    border-radius: 80px;
    width:150px;
    height:150px;
    border:1px solid #444;
}
.profile--sider{
    display: flex;
    justify-content: center;
    margin-top: -35px;
}