.main--body{
    background-color: #f4f7f6;
    height: 100%;
    padding: 0px 10px 0px 20px; 
    width: 100%;
}
.ant-menu-submenu-title {
    padding-left: 18px !important;
}
.ant-menu-sub.ant-menu-inline {
    background-color:#253238 !important;
}

.ant-menu{
    background-color: #fff;
    font-size: 18px !important;
}
.ant-menu-item-selected {
    color:#FFF !important;
    background-color: #2193F680 !important;
}
.ant-menu-inline {
    border-right: 1px solid #253238 !important;
}
.breadcrumb{
    &-name{
        font-size: 1.4rem;
        font-weight: 500;
    }
    &-icon{
        font-size: 1.4rem;
        font-weight: 500;
        color:#5237cc;
    }
}
.bread{
    &-icon{
        font-size: 1rem;
        font-weight: 500;
        color:#5237cc;
    }
}

.chartBar{
    font-size: 12px;
    color:#5a5a5a;
    &-bar-icon{
        color:#5a5a5a;
    }
    &-bar-text{
        color:#000;
        font-weight: 500;
        font-size: 14px;
    }
}

@media (max-width:425px){
    .hidden--mobile{
        display: none !important;
    }
}
